.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.container-between {
  justify-content: space-between;
}
.container-center {
  justify-content: center;
}
